@import "modules";
// SOl kısım
nav {
  display: flex;
  flex-direction: column;
  padding: 13px;
  gap: 25px;
  .create {
    background-color: $create-color;
    padding: 20px;
    display: flex;
    gap: 12px;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      box-shadow: 2px 2px 10px gray;
    }
  }
  .nav-middle {
    display: grid;
    font-size: 16px;
    .active {
      background-color: $active-color;
      font-weight: bolder;
      border-radius: 0px 20px 20px 0px;
    }
    a {
      padding: 7px 12px 7px 26px;
      cursor: pointer;
      display: flex;
      gap: 12px;
      &:hover {
        background-color: $hover-effect;
        border-radius: 0px 20px 20px 0px;
      }
      i span {
        // İmleç olaylarını iptal eder
        pointer-events: none;
      }
    }
  }
  .nav-bottom {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
